In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv(r"C:\Users\braid\Downloads\bank.csv")
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,admin.,married,secondary,no,2343,yes,no,unknown,5,may,1042,1,-1,0,unknown,yes
1,56,admin.,married,secondary,no,45,no,no,unknown,5,may,1467,1,-1,0,unknown,yes
2,41,technician,married,secondary,no,1270,yes,no,unknown,5,may,1389,1,-1,0,unknown,yes
3,55,services,married,secondary,no,2476,yes,no,unknown,5,may,579,1,-1,0,unknown,yes
4,54,admin.,married,tertiary,no,184,no,no,unknown,5,may,673,2,-1,0,unknown,yes

In [5]:
df.isnull().sum()

age          0
job          0
marital      0
education    0
default      0
balance      0
housing      0
loan         0
contact      0
day          0
month        0
duration     0
campaign     0
pdays        0
previous     0
poutcome     0
deposit      0
dtype: int64

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  object
 2   marital    11162 non-null  object
 3   education  11162 non-null  object
 4   default    11162 non-null  object
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  object
 7   loan       11162 non-null  object
 8   contact    11162 non-null  object
 9   day        11162 non-null  int64
 10  month      11162 non-null  object
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  object
 16  deposit    11162 non-null  object
dtypes: int64(7), object(10)
memory usage: 1.4+ MB

In [9]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [11]:
df["marital"].value_counts()

marital
married     6351
single      3518
divorced    1293
Name: count, dtype: int64

In [13]:
df["education"].value_counts()

education
secondary    5476
tertiary     3689
primary      1500
unknown       497
Name: count, dtype: int64

In [15]:
df["default"].value_counts()

default
no     10994
yes      168
Name: count, dtype: int64

In [17]:
df["housing"].value_counts()

housing
no     5881
yes    5281
Name: count, dtype: int64

In [19]:
df["loan"].value_counts()

loan
no     9702
yes    1460
Name: count, dtype: int64

In [21]:
df["contact"].value_counts()

contact
cellular     8042
unknown      2346
telephone     774
Name: count, dtype: int64

In [23]:
df["month"].value_counts()

month
may    2824
aug    1519
jul    1514
jun    1222
nov     943
apr     923
feb     776
oct     392
jan     344
sep     319
mar     276
dec     110
Name: count, dtype: int64

In [25]:
df["job"].value_counts()

job
management       2566
blue-collar      1944
technician       1823
admin.           1334
services          923
retired           778
self-employed     405
student           360
unemployed        357
entrepreneur      328
housemaid         274
unknown            70
Name: count, dtype: int64

In [27]:
df["poutcome"].value_counts()

poutcome
unknown    8326
failure    1228
success    1071
other       537
Name: count, dtype: int64

In [29]:
df["deposit"].value_counts()

deposit
no     5873
yes    5289
Name: count, dtype: int64

### ENCODING CATEGORICAL COLUMNS

In [32]:
df['deposit'] = df['deposit'].map({'yes': 1, 'no': 0})
df['contact'] = df['contact'].map( {'cellular': 1, 'telephone': 2, 'unknown': 0})
df['loan'] = df['loan'].map({'yes': 1, 'no': 0})
df['housing'] = df['housing'].map({'yes': 1, 'no': 0})
df['default'] = df['default'].map({'yes': 1, 'no': 0})
df['marital'] = df['marital'].map({'married': 1, 'single': 2, 'divorced': 3})

df = pd.get_dummies(df, columns=['job', 'education', 'month', 'poutcome'], drop_first=True)

In [34]:
from sklearn.preprocessing import LabelEncoder

# Initialize LabelEncoder
le = LabelEncoder()

# Encode the 'deposit' column (target variable)
df['deposit'] = le.fit_transform(df['deposit'])

In [36]:
df.head()

,age,marital,default,balance,housing,loan,contact,day,duration,campaign,...,month_jul,month_jun,month_mar,month_may,month_nov,month_oct,month_sep,poutcome_other,poutcome_success,poutcome_unknown
0,59,1,0,2343,1,0,0,5,1042,1,...,False,False,False,True,False,False,False,False,False,True
1,56,1,0,45,0,0,0,5,1467,1,...,False,False,False,True,False,False,False,False,False,True
2,41,1,0,1270,1,0,0,5,1389,1,...,False,False,False,True,False,False,False,False,False,True
3,55,1,0,2476,1,0,0,5,579,1,...,False,False,False,True,False,False,False,False,False,True
4,54,1,0,184,0,0,0,5,673,2,...,False,False,False,True,False,False,False,False,False,True

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 41 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   age                  11162 non-null  int64
 1   marital              11162 non-null  int64
 2   default              11162 non-null  int64
 3   balance              11162 non-null  int64
 4   housing              11162 non-null  int64
 5   loan                 11162 non-null  int64
 6   contact              11162 non-null  int64
 7   day                  11162 non-null  int64
 8   duration             11162 non-null  int64
 9   campaign             11162 non-null  int64
 10  pdays                11162 non-null  int64
 11  previous             11162 non-null  int64
 12  deposit              11162 non-null  int64
 13  job_blue-collar      11162 non-null  bool
 14  job_entrepreneur     11162 non-null  bool
 15  job_housemaid        11162 non-null  bool
 16  job_management       11162 non-null  bool
 17  job_retired          11162 non-null  bool
 18  job_self-employed    11162 non-null  bool
 19  job_services         11162 non-null  bool
 20  job_student          11162 non-null  bool
 21  job_technician       11162 non-null  bool
 22  job_unemployed       11162 non-null  bool
 23  job_unknown          11162 non-null  bool
 24  education_secondary  11162 non-null  bool
 25  education_tertiary   11162 non-null  bool
 26  education_unknown    11162 non-null  bool
 27  month_aug            11162 non-null  bool
 28  month_dec            11162 non-null  bool
 29  month_feb            11162 non-null  bool
 30  month_jan            11162 non-null  bool
 31  month_jul            11162 non-null  bool
 32  month_jun            11162 non-null  bool
 33  month_mar            11162 non-null  bool
 34  month_may            11162 non-null  bool
 35  month_nov            11162 non-null  bool
 36  month_oct            11162 non-null  bool
 37  month_sep            11162 non-null  bool
 38  poutcome_other       11162 non-null  bool
 39  poutcome_success     11162 non-null  bool
 40  poutcome_unknown     11162 non-null  bool
dtypes: bool(28), int64(13)
memory usage: 1.4 MB

In [40]:
import warnings
warnings.filterwarnings("ignore")

In [42]:
import tensorflow as tf  # TensorFlow library for building neural networks
from tensorflow.keras.models import Sequential  # Sequential model for building a feedforward neural network
from tensorflow.keras.layers import Dense, Dropout  # Dense layer for fully connected layers
from tensorflow.keras.callbacks import EarlyStopping
from tensorflow.keras.optimizers import Adam  # Adam optimizer for gradient descent
from sklearn.model_selection import train_test_split  # Function to split data into training and test sets
from sklearn.preprocessing import StandardScaler  # Standardization of features (scaling)

In [44]:
X = df.drop(columns=["deposit"])
y = df["deposit"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [46]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

### MODELLING

In [48]:
model = Sequential()

#input layer
model.add(Dense(64, activation='relu', input_dim=X_train.shape[1]))
model.add(Dropout(0.3))

#hidden layers
model.add(Dense(32, activation='relu'))
model.add(Dense(16, activation='relu'))

#output layer
model.add(Dense(1, activation='sigmoid'))

#Compiling the layers
model.compile(optimizer=Adam(learning_rate=0.0001), loss='binary_crossentropy', metrics=['accuracy'])

In [50]:
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

In [52]:
model.evaluate(X_test, y_test)

70/70 ━━━━━━━━━━━━━━━━━━━━ 3s 7ms/step - accuracy: 0.5328 - loss: 0.7919

[0.8018710613250732, 0.5257501006126404]

In [54]:
history = model.fit(X_train, y_train, validation_data=(X_test, y_test), epochs=100, batch_size=32, callbacks=[early_stopping])

Epoch 1/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 7s 7ms/step - accuracy: 0.5426 - loss: 0.7369 - val_accuracy: 0.6538 - val_loss: 0.6297
Epoch 2/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.6224 - loss: 0.6423 - val_accuracy: 0.7304 - val_loss: 0.5732
Epoch 3/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.6907 - loss: 0.5866 - val_accuracy: 0.7600 - val_loss: 0.5254
Epoch 4/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7275 - loss: 0.5482 - val_accuracy: 0.7761 - val_loss: 0.4876
Epoch 5/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7413 - loss: 0.5149 - val_accuracy: 0.7891 - val_loss: 0.4598
Epoch 6/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7749 - loss: 0.4875 - val_accuracy: 0.7980 - val_loss: 0.4412
Epoch 7/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7902 - loss: 0.4650 - val_accuracy: 0.8007 - val_loss: 0.4281
Epoch 8/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7911 - loss: 0.4543 - val_accuracy: 0.8124 - val_loss: 0.4188
Epoch 9/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.7886 - loss: 0.4669 - val_accuracy: 0.8155 - val_loss: 0.4126
Epoch 10/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8025 - loss: 0.4377 - val_accuracy: 0.8133 - val_loss: 0.4080
Epoch 11/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8017 - loss: 0.4339 - val_accuracy: 0.8173 - val_loss: 0.4045
Epoch 12/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8034 - loss: 0.4295 - val_accuracy: 0.8204 - val_loss: 0.4010
Epoch 13/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8062 - loss: 0.4325 - val_accuracy: 0.8209 - val_loss: 0.3990
Epoch 14/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8153 - loss: 0.4170 - val_accuracy: 0.8231 - val_loss: 0.3970
Epoch 15/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8216 - loss: 0.4158 - val_accuracy: 0.8258 - val_loss: 0.3952
Epoch 16/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8178 - loss: 0.4161 - val_accuracy: 0.8253 - val_loss: 0.3940
Epoch 17/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8123 - loss: 0.4203 - val_accuracy: 0.8245 - val_loss: 0.3916
Epoch 18/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8217 - loss: 0.4042 - val_accuracy: 0.8253 - val_loss: 0.3903
Epoch 19/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8232 - loss: 0.4006 - val_accuracy: 0.8253 - val_loss: 0.3895
Epoch 20/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8273 - loss: 0.3937 - val_accuracy: 0.8267 - val_loss: 0.3878
Epoch 21/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8259 - loss: 0.3940 - val_accuracy: 0.8245 - val_loss: 0.3872
Epoch 22/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8235 - loss: 0.3945 - val_accuracy: 0.8262 - val_loss: 0.3862
Epoch 23/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8301 - loss: 0.3921 - val_accuracy: 0.8258 - val_loss: 0.3853
Epoch 24/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8283 - loss: 0.3988 - val_accuracy: 0.8253 - val_loss: 0.3847
Epoch 25/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8233 - loss: 0.3976 - val_accuracy: 0.8253 - val_loss: 0.3841
Epoch 26/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8264 - loss: 0.3839 - val_accuracy: 0.8249 - val_loss: 0.3827
Epoch 27/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8296 - loss: 0.3888 - val_accuracy: 0.8249 - val_loss: 0.3826
Epoch 28/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8275 - loss: 0.3882 - val_accuracy: 0.8262 - val_loss: 0.3820
Epoch 29/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8230 - loss: 0.3901 - val_accuracy: 0.8262 - val_loss: 0.3811
Epoch 30/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8308 - loss: 0.3905 - val_accuracy: 0.8271 - val_loss: 0.3808
Epoch 31/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8382 - loss: 0.3698 - val_accuracy: 0.8262 - val_loss: 0.3805
Epoch 32/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8280 - loss: 0.3884 - val_accuracy: 0.8258 - val_loss: 0.3801
Epoch 33/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8311 - loss: 0.3797 - val_accuracy: 0.8253 - val_loss: 0.3799
Epoch 34/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8474 - loss: 0.3705 - val_accuracy: 0.8245 - val_loss: 0.3794
Epoch 35/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8379 - loss: 0.3734 - val_accuracy: 0.8245 - val_loss: 0.3794
Epoch 36/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8308 - loss: 0.3846 - val_accuracy: 0.8271 - val_loss: 0.3795
Epoch 37/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8345 - loss: 0.3781 - val_accuracy: 0.8258 - val_loss: 0.3789
Epoch 38/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8403 - loss: 0.3687 - val_accuracy: 0.8267 - val_loss: 0.3780
Epoch 39/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8365 - loss: 0.3707 - val_accuracy: 0.8262 - val_loss: 0.3781
Epoch 40/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8447 - loss: 0.3695 - val_accuracy: 0.8267 - val_loss: 0.3786
Epoch 41/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8349 - loss: 0.3786 - val_accuracy: 0.8294 - val_loss: 0.3779
Epoch 42/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8318 - loss: 0.3772 - val_accuracy: 0.8289 - val_loss: 0.3773
Epoch 43/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8388 - loss: 0.3716 - val_accuracy: 0.8303 - val_loss: 0.3765
Epoch 44/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8429 - loss: 0.3716 - val_accuracy: 0.8285 - val_loss: 0.3759
Epoch 45/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8376 - loss: 0.3669 - val_accuracy: 0.8285 - val_loss: 0.3755
Epoch 46/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8398 - loss: 0.3713 - val_accuracy: 0.8294 - val_loss: 0.3758
Epoch 47/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8382 - loss: 0.3704 - val_accuracy: 0.8276 - val_loss: 0.3747
Epoch 48/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8407 - loss: 0.3661 - val_accuracy: 0.8285 - val_loss: 0.3744
Epoch 49/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8505 - loss: 0.3685 - val_accuracy: 0.8289 - val_loss: 0.3746
Epoch 50/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 3s 9ms/step - accuracy: 0.8398 - loss: 0.3667 - val_accuracy: 0.8303 - val_loss: 0.3742
Epoch 51/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8382 - loss: 0.3625 - val_accuracy: 0.8285 - val_loss: 0.3739
Epoch 52/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8407 - loss: 0.3666 - val_accuracy: 0.8307 - val_loss: 0.3731
Epoch 53/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8457 - loss: 0.3630 - val_accuracy: 0.8307 - val_loss: 0.3738
Epoch 54/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8439 - loss: 0.3583 - val_accuracy: 0.8298 - val_loss: 0.3728
Epoch 55/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8431 - loss: 0.3612 - val_accuracy: 0.8316 - val_loss: 0.3729
Epoch 56/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8403 - loss: 0.3647 - val_accuracy: 0.8321 - val_loss: 0.3723
Epoch 57/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8463 - loss: 0.3623 - val_accuracy: 0.8298 - val_loss: 0.3735
Epoch 58/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8525 - loss: 0.3567 - val_accuracy: 0.8307 - val_loss: 0.3715
Epoch 59/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8500 - loss: 0.3501 - val_accuracy: 0.8298 - val_loss: 0.3710
Epoch 60/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8495 - loss: 0.3546 - val_accuracy: 0.8312 - val_loss: 0.3700
Epoch 61/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8420 - loss: 0.3581 - val_accuracy: 0.8321 - val_loss: 0.3700
Epoch 62/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8401 - loss: 0.3615 - val_accuracy: 0.8334 - val_loss: 0.3705
Epoch 63/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8537 - loss: 0.3526 - val_accuracy: 0.8303 - val_loss: 0.3705
Epoch 64/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8497 - loss: 0.3545 - val_accuracy: 0.8325 - val_loss: 0.3698
Epoch 65/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8440 - loss: 0.3593 - val_accuracy: 0.8334 - val_loss: 0.3699
Epoch 66/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8445 - loss: 0.3553 - val_accuracy: 0.8325 - val_loss: 0.3705
Epoch 67/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8414 - loss: 0.3614 - val_accuracy: 0.8343 - val_loss: 0.3695
Epoch 68/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8503 - loss: 0.3522 - val_accuracy: 0.8321 - val_loss: 0.3693
Epoch 69/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8508 - loss: 0.3544 - val_accuracy: 0.8334 - val_loss: 0.3694
Epoch 70/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8454 - loss: 0.3528 - val_accuracy: 0.8321 - val_loss: 0.3695
Epoch 71/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 8ms/step - accuracy: 0.8461 - loss: 0.3566 - val_accuracy: 0.8348 - val_loss: 0.3685
Epoch 72/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8564 - loss: 0.3453 - val_accuracy: 0.8343 - val_loss: 0.3683
Epoch 73/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8484 - loss: 0.3561 - val_accuracy: 0.8339 - val_loss: 0.3676
Epoch 74/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8516 - loss: 0.3405 - val_accuracy: 0.8352 - val_loss: 0.3676
Epoch 75/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8600 - loss: 0.3383 - val_accuracy: 0.8321 - val_loss: 0.3682
Epoch 76/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8548 - loss: 0.3461 - val_accuracy: 0.8321 - val_loss: 0.3678
Epoch 77/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 6ms/step - accuracy: 0.8490 - loss: 0.3479 - val_accuracy: 0.8348 - val_loss: 0.3678
Epoch 78/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8518 - loss: 0.3481 - val_accuracy: 0.8343 - val_loss: 0.3681
Epoch 79/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8526 - loss: 0.3508 - val_accuracy: 0.8330 - val_loss: 0.3680
Epoch 80/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8448 - loss: 0.3495 - val_accuracy: 0.8343 - val_loss: 0.3674
Epoch 81/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8521 - loss: 0.3492 - val_accuracy: 0.8343 - val_loss: 0.3673
Epoch 82/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8518 - loss: 0.3542 - val_accuracy: 0.8339 - val_loss: 0.3671
Epoch 83/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8566 - loss: 0.3418 - val_accuracy: 0.8348 - val_loss: 0.3669
Epoch 84/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8552 - loss: 0.3460 - val_accuracy: 0.8343 - val_loss: 0.3672
Epoch 85/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8576 - loss: 0.3422 - val_accuracy: 0.8339 - val_loss: 0.3680
Epoch 86/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8598 - loss: 0.3365 - val_accuracy: 0.8339 - val_loss: 0.3676
Epoch 87/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8542 - loss: 0.3420 - val_accuracy: 0.8339 - val_loss: 0.3677
Epoch 88/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8582 - loss: 0.3344 - val_accuracy: 0.8343 - val_loss: 0.3667
Epoch 89/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8642 - loss: 0.3302 - val_accuracy: 0.8356 - val_loss: 0.3661
Epoch 90/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8626 - loss: 0.3318 - val_accuracy: 0.8348 - val_loss: 0.3663
Epoch 91/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8578 - loss: 0.3368 - val_accuracy: 0.8334 - val_loss: 0.3657
Epoch 92/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8563 - loss: 0.3392 - val_accuracy: 0.8365 - val_loss: 0.3658
Epoch 93/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8614 - loss: 0.3358 - val_accuracy: 0.8370 - val_loss: 0.3656
Epoch 94/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8605 - loss: 0.3323 - val_accuracy: 0.8365 - val_loss: 0.3655
Epoch 95/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8585 - loss: 0.3307 - val_accuracy: 0.8361 - val_loss: 0.3655
Epoch 96/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8518 - loss: 0.3479 - val_accuracy: 0.8352 - val_loss: 0.3663
Epoch 97/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8622 - loss: 0.3268 - val_accuracy: 0.8343 - val_loss: 0.3655
Epoch 98/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8592 - loss: 0.3318 - val_accuracy: 0.8330 - val_loss: 0.3650
Epoch 99/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8649 - loss: 0.3260 - val_accuracy: 0.8356 - val_loss: 0.3658
Epoch 100/100
280/280 ━━━━━━━━━━━━━━━━━━━━ 2s 7ms/step - accuracy: 0.8581 - loss: 0.3335 - val_accuracy: 0.8374 - val_loss: 0.3659

In [56]:
model.predict(X_test)

70/70 ━━━━━━━━━━━━━━━━━━━━ 1s 6ms/step

array([[0.5169871 ],
       [0.9625065 ],
       [0.48929256],
       ...,
       [0.01302288],
       [0.9591997 ],
       [0.8124713 ]], dtype=float32)

In [58]:
# Evaluate the model
test_loss, test_acc = model.evaluate(X_test, y_test)

print(f"Test Accuracy: {test_acc * 100:.2f}%")

70/70 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.8176 - loss: 0.3923
Test Accuracy: 83.30%